<form method="post" action="{{ path('organization_delete', {'name': organization.name | lower}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organization.name | lower) }}">
    <button class="btn">Delete</button>
</form>
